<html lang="en">
            <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <title>Gristen</title>
            </head>
            <body>
                <p>{{greeting}}{{name}}! Enter the group name you want to join and listen :)</p>
                <form method="post" action="/group">
                    <p><input type="text" name="group_name" placeholder="don't be shy" /></p>
                    <p><input type="submit" value="Gristen" id="gristen"/></p>
                </form>
                <p>If you want a sample song then click play below!</p>
                <audio controls>
                    <source src="/audio_{{song}}" type="audio/x-wav;codec=pcm">
                    Your browser does not support the audio element.
                </audio>
            </body>
        </html>