<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Hello! Enter the song name you want to listen to :)</p>
    <form method="post" action=".">
        <p><input name="song_name" /></p>
        <p><input type="submit" value="Gristen" /></p>
    </form>
    <audio controls>
        <source src="/audio" type="audio/x-wav;codec=pcm">
        Your browser does not support the audio element.
    </audio>
</body>
</html>