<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Gristen</title>
    </head>
    <body>
        <h1>{{group_name}}</h1>
        <p>Currently listening to</p>
        <p>{{song_name}} by {{song_artist}}</p>
        <audio controls autoplay loop>
            <source src="/audio_{{song}}" type="audio/x-wav;codec=pcm">
            Your browser does not support the audio element.
        </audio>
        <p>To change the current song enter below:</p>
        <form method="post" action="/group_{{group_name}}" name="yeet">
            <p><input name="song_name" /></p>
            <p><input type="submit" value="Gristen" id="gristen" /></p>
        </form>
        {{errors}}
        <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
        <div class="message_holder"></div>

        <form action="/group_{{group_name}}" method="POST" name="message">
          <input type="text" class="username" placeholder="User Name"/>
          <input type="text" class="message" placeholder="Messages"/>
          <input type="submit" id="chat"/>
        </form>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
        <script src="{{url_for('static', filename='input.js')}}"></script>
    </body>
</html>